@keyframes draw {
  10% {
    stroke-dashoffset: 0;
    stroke-width: 0px
  }
  10%, 100% {
    stroke-width: 1px;
    stroke-dashoffset: 0
  }
}


@keyframes wavepulse {
  0%, 30% {
    transform: scale(1, 1)
  }
  50% {
    transform: scale(1.03, 1.03)
  }
  70%, 100% {
    transform: scale(1, 1)
  }
}

@keyframes bgscroll {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-1920px);
    -moz-transform: translateX(-1920px);
    -ms-transform: translateX(-1920px);
    -o-transform: translateX(-1920px);
    transform: translateX(-1920px)
  }
}
