.page-contacts {
  .contacts-list {
    list-style: none;
    padding: 0;

    li {
      font-family: $Montserrat;
      margin: 30px 0;
      .image-filter {
        width: 30px;
        margin-right: 10px;
        -webkit-filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);
        filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);

      }

      a {
        color: $black;
        transition: 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .social-list {
    list-style: none;
    padding: 20px 0 0 0;
    li {
      display: inline-block;
      .image-filter {
        width: 30px;
        margin-right: 10px;
        -webkit-filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);
        filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);

      }
    }
  }
}
