footer {
  background-color: $secondary;
  padding: 100px 0;
  background-image: url('assets/images/footer-bg.png') !important;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain;
}
