section.services {
  position: relative;
  background-color: $grey;

  .container {
    position: relative;
    z-index: 9;


    .swiper-slide {
      background-color: $white;

      .image-layer {
        height: 350px;
        background-size: cover;
        background-position: center;
      }

      .box-container {
        padding: 50px 60px 70px;
        text-align: center;

        h2 {
          font-weight: 900;
        }

        p {
          font-weight: 300;
        }

        .description {
          padding: 10px 0 20px;
        }

        .btn {
          font-size: 12px;
          padding: 7px 30px;
          line-height: 1.6em;
          min-width: 125px;
          background-color: $primary;
          color: $white;
          border-radius: 50px;
        }


      }
    }

    .swiper-pagination-services {
      position: relative;
      text-align: center;
      margin-top: 30px;

      span {
        cursor: pointer;
        margin: 0 4px
      }

      .swiper-pagination-bullet {
        background-color: $fourth;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }
  }

  .background-animation {
    position: absolute !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0 !important;
    width: 100% !important;

    .container-fluid {
      background-image: url('assets/images/long-wave.png') !important;
      -webkit-animation: bgscroll 6s linear infinite;
      -moz-animation: bgscroll 6s linear infinite;
      -o-animation: bgscroll 6s linear infinite;
      animation: bgscroll 6s linear infinite;
      min-width: 7680px !important;
      height: 400px;
      background-repeat: repeat-x !important

    }
  }


}


section.about {
  .ltx-waves {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .ltx-waves {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    img {
      max-width: initial !important;
      z-index: -1;
      -webkit-animation: wavepulse .5s ease infinite;
      -moz-animation: wavepulse .5s ease infinite;
      -o-animation: wavepulse .5s ease infinite;
      animation: wavepulse .5s ease infinite
    }
  }

  .ltx-block-icon {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    .header {
      background: transparent;
      font-weight: 900;
      padding-left: 60px;
      padding-bottom: 20px;
      padding-top: 15px;
    }

    .desc {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .image-filter {
      width: 50px;
      position: absolute;
      -webkit-filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);
      filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);

    }
  }
}

section.artists {
  position: relative;
  background-color: $black;
  background-image: url('assets/images/parallax-artists.jpg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;


  .swiper-slide {
    background-color: $white;

    .image-layer {
      height: 350px;
      background-size: cover;
      background-position: center;
    }

    .box-container {
      padding: 50px 50px 70px;
      text-align: center;

      h2 {
        font-weight: 900;
      }

      p {
        font-weight: 300;
      }

      .biography {
        font-size: 0.8rem;
      }

      .category {
        padding-top: 20px;

        span {
          background-color: $primary;
          padding: 5px;
          border-radius: 50px;
          color: $white;
          font-size: 12px;
        }
      }

      .social {
        padding-top: 20px;

        ul {
          list-style: none;
          padding: 0;

          li {
            display: inline-block;
            margin: 0 5px;

            a {
              color: $third;
            }
          }
        }
      }

      .btn {
        font-size: 12px;
        padding: 7px 30px;
        line-height: 1.6em;
        min-width: 125px;
        background-color: $primary;
        color: $white;
        border-radius: 50px;
      }
    }


  }

  .swiper-pagination-artists {
    position: relative;
    text-align: center;
    margin-top: 30px;

    span {
      cursor: pointer;
      margin: 0 4px
    }

    .swiper-pagination-bullet {
      background-color: $white;
    }

    .swiper-pagination-bullet-active {
      background-color: $primary;
    }


  }
}

section.packages {
  background-color: $white;

  .tabs {

    ul {

      justify-content: center;

      .nav-link.active, .show > .nav-link {
        color: $white;
        background-color: $primary;
        border-radius: 50px;
        min-width: 100px;
        text-align: center;

      }

      .nav-link {
        color: $primary;
        border-radius: 50px;
        min-width: 100px;
        border: 1px solid $primary;
        text-align: center;
        margin: 0 10px;

      }


    }

    .tab-content {
      margin-top: 50px;
    }

    .package {
      text-align: center;
      span  {
        font-weight: 900;
        color: $primary;
      }
      h2 {
        font-size: 20px;
        color: $primary;
        font-weight: 900;
      }
      ul {
        padding: 0;
        list-style: none;
        li{
          font-weight: 300;
          padding: 5px 0;


        }
      }

    }

    .btn-primary {
      color: #fff;
      background-color: #dc2751;
      border: 0;
      width: 180px;
      height: 40px;
      border-radius: 50px;

      a {
        color: $white;

        &:hover {
          color: $grey;
        }

      }
      &:active, &:focus {
        background: $secondary;
      }
    }

  }
}

section.videos {
  background-image: url('assets/images/parallax-showcase.png') !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-color: $black;
}


section.locations {
  background-color: $primary;

  .swiper-slide {
    text-align: center;

    img {
      max-width: 200px;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 30px;

    span {
      cursor: pointer;
      margin: 0 4px
    }

    .swiper-pagination-bullet-active {
      background-color: $white;
    }

  }
}

section.social {
  background-color: $grey;

  .instagram-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    border: 15px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

section.playlists {
  background-image: url('assets/images/parallax-showcase.png') !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-color: $black;
}

section.contacts {
  background-color: $grey;
  .contacts-list {
    list-style: none;
    padding: 0;

    li {
      font-family: $Montserrat;
      margin: 30px 0;
      .image-filter {
        width: 30px;
        margin-right: 10px;
        -webkit-filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);
        filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);


      }
      a {
        color: $black;
        transition: 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .social-list {
    list-style: none;
    padding: 20px 0 0 0;
    li {
      display: inline-block;
      .image-filter {
        width: 30px;
        margin-right: 10px;
        -webkit-filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);
        filter: invert(21%) sepia(38%) saturate(4986%) hue-rotate(328deg) brightness(102%) contrast(94%);

      }
    }
  }
}
