.slider {
  .swiper-slide {


    .image-layer {
      height: 900px;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0;
        right: 0;
        bottom: 0;
        width: 101%;
        height: 100%;
        background-color: $secondary;
        zoom: 1;
        filter: alpha(opacity=40);
        -webkit-opacity: .40;
        -moz-opacity: .40;
        opacity: .40;
        z-index: 0;
      }

      .container {
        z-index: 9;
      }
    }
  }

  .swiper-slide-active {
    .image-layer {
      transition: 8.5s ease-out;
      transform: scale(1.08);
    }
  }

  .swiper-slide .tagline-up {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $primary;
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease
  }

  .swiper-slide .tagline-down {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $primary;
    margin-top: 20px;
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease
  }

  @media(max-width: 575px) {
    .swiper-slide .tagline-up, .swiper-slide .tagline-down {
      font-size: 14px
    }
  }

  .swiper-slide h2 {
    color: #fff;
    font-family: var(--special-font);
    font-size: 80px;
    line-height: 1.1;
    margin-top: 15px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-120px);
    transform: translateX(-120px);
    -webkit-transition-delay: 1000ms;
    transition-delay: 1000ms;
    -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease
  }


  .swiper-slide-active .thm-btn, .swiper-slide-active .tagline-up, .swiper-slide-active .tagline-down, .swiper-slide-active p{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0)
  }

  .swiper-slide-active h2 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-8px);
    transform: translateY(0) translateX(-8px)
  }

  .thm-btn {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $secondary;
    }
  }

  .swiper-slide text {
    font-size: 130px;
    color: transparent;
    fill: transparent;
    stroke: #fff;
    stroke-width: 1px;
    font-weight: 900;
  }

  .swiper-slide-active text {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: draw 100s linear
  }

  .swiper-slide .btn-container {
    position: absolute !important;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 9;
    text-align: center;
    -webkit-transform: translateY(120px) translateX(0);
    transform: translateY(120px) translateX(0);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease;
    transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease;

    .btn-primary {
      color: $white;
      background-color: $primary;
      border-color: $white;
      width: 180px;
      height: 40px;
      border-radius: 50px;
    }
  }

  .swiper-slide-active .btn-container {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0)
  }



}

@media screen and (max-width: 767px) {
  .image-layer {
    .row {
      padding: 40px;

      h2 {
        font-size: 60px;
      }
    }
  }
}
