// Font Family
$Montserrat: 'Montserrat', sans-serif;
$AtchitectsDaughter: 'Architects Daughter', sans-serif;

// Colors ---------------
$white: #fff;

$black: #222;

$grey: #f0f0f3;

$light: #f6f5f2;

$theme-color: #5fab0e;

$text-color: #555;

$hr-border-color: #eceff8;

$primary: #dc2751;

$secondary: #282834;

$third: #044580;

$fourth: #6e7673;

// Heading Color
$heading-color: #192437;

// Soft color
$black-soft: #7e7e7e;

$font-family-primary: 'Inter', sans-serif;

// Responsive Variables
$full: 'only screen and (min-width: 1200px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs: '(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
